:root {
  --flowkitpurple: rgba(123, 97, 255, 1);
  --flowkitcharcoal: rgba(34, 34, 34, 1);
  --flowkitred: rgba(252, 85, 85, 1);
  --flowkitgreen: rgba(41, 204, 106, 1);
  --flowkitblue: rgba(0, 153, 255, 1);
  --flowkitwhite: rgba(255, 255, 255, 1);
  --basicblack: rgba(0, 0, 0, 1);
  --interactive-interactive-s-font-family: "FT Regola Neue", Helvetica;
  --interactive-interactive-s-font-weight: 400;
  --interactive-interactive-s-font-size: 24px;
  --interactive-interactive-s-letter-spacing: 0.24px;
  --interactive-interactive-s-line-height: 125%;
  --interactive-interactive-s-font-style: normal;
  --body-paragraph-body-s-font-family: "FT Regola Neue", Helvetica;
  --body-paragraph-body-s-font-weight: 400;
  --body-paragraph-body-s-font-size: 24px;
  --body-paragraph-body-s-letter-spacing: 0.24px;
  --body-paragraph-body-s-line-height: 125%;
  --body-paragraph-body-s-font-style: normal;
  --label-label-s-bold-font-family: "FT Regola Neue", Helvetica;
  --label-label-s-bold-font-weight: 700;
  --label-label-s-bold-font-size: 20px;
  --label-label-s-bold-letter-spacing: 0.2px;
  --label-label-s-bold-line-height: 24px;
  --label-label-s-bold-font-style: normal;
  --color-semantic-bg-view-backdrop-solid: var(--color-palettes-neutral-darkest);
  --color-semantic-text-normal: var(--color-palettes-neutral-lightest);
  --color-semantic-text-subtle: var(--color-palettes-neutral-light);
  --color-palettes-neutral-darkest: var(--base-tokens-color-slate-0);
  --color-palettes-neutral-lightest: var(--base-tokens-color-slate-190);
  --color-palettes-neutral-light: var(--base-tokens-color-slate-150);
  --color-palettes-white-o15: rgba(255, 255, 255, 0.15);
  --color-palettes-black-o98: rgba(0, 0, 0, 0.98);
  --color-palettes-neutral-lighter: var(--base-tokens-color-slate-170);
  --base-tokens-color-slate-0: rgba(6, 7, 10, 1);
  --base-tokens-color-slate-190: rgba(250, 251, 255, 1);
  --base-tokens-color-slate-150: rgba(200, 204, 223, 1);
  --base-tokens-space-xxs: 8px;
  --base-tokens-color-slate-170: rgba(225, 227, 239, 1);
  --space-scale-space-xxs: var(--base-tokens-space-xxs);
}
